<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>dev_jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
  <error-code>404</error-code>
  <location>/ch6/error404.jsp</location>
  </error-page>
  <error-page>
  <error-code>500</error-code>
  <location>/ch6/error500.jsp</location>
  </error-page>
  <context-param>
  <param-name>log4jConfigLoaction</param-name>
  <param-value>
  /WEB-INF/classes/log4j.properties
  </param-value>
</context-param>
<servlet>
<servlet-name>boardServlet</servlet-name>
<servlet-class>com.ch17.BoardServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>frontServelt</servlet-name>
<servlet-class>com.mvc.FrontController</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>frontServelt</servlet-name>
  <url-pattern>*.kos</url-pattern>
   </servlet-mapping>
<!-- MVC패턴 계층형 게시판 -->
<servlet>
<servlet-name>frontBoard</servlet-name>
<servlet-class>com.mvc.board.BoardServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>frontBoard</servlet-name>
  <url-pattern>*.bd</url-pattern>
   </servlet-mapping>
   <!-- MVC패턴 계층형 게시판 -->

  <servlet-mapping>
  <servlet-name>boardServlet</servlet-name>
  <url-pattern>/ch17/crud.do</url-pattern>
   </servlet-mapping>

  
  </web-app>